  body {
    background:#663;
    margin:0;
    color:#000;
    font : normal normal normal 10pt Trebuchet MS;
  }
  table {
    font : normal normal normal 10pt Trebuchet MS;
  }
  h1, h2, h3 {
    color : #663;
    border-bottom: #000 solid 1px;
  }
  a {
    color : #663;
  }
  a:visited {
  }
  a:hover {
    background:#eee;
  }
  blockquote {
    padding: 5px;
    background:#eee;
  }
  #unimp {
    font-style: italic;
    color : #f00;
  }
