<?xml version="1.0" encoding="utf-8" ?>
<cfgxml>
  <section name="main">
    <pathlist name="inputpath">
      <path relative="true">tests</path>
    </pathlist>
    <bool name="rununittests">false</bool>
    <bool name="outputgrammar">false</bool>
    <bool name="outputprimitives">false</bool>
    <int name="maxthreads">1</int>
    <bool name="showtiming">true</bool>
    <bool name="waitforkeypress">false</bool>
  </section>
</cfgxml>