<?xml version="1.0" encoding="utf-8" ?>
<cfgxml>
  <version>
    <major>1</major>
    <minor>0</minor>
  </version>
  <section name="main">
    <path name="testfiles" relative="true">..\..\tests</path>
    <bool name="rununittests">false</bool>
    <bool name="runtestfiles">false</bool>
  </section>
</cfgxml>