<?xml version="1.0" encoding="utf-8" ?>
<cfgxml>
    <pathlist name="inputpath">
        <path relative="true">tests</path>
        <path relative="true">samples</path>
    </pathlist>
    <bool name="rununittests">false</bool>
    <bool name="outputgrammar">false</bool>
    <bool name="outputprimitives">false</bool>
    <int name="maxthreads">-1</int>
    <bool name="showtiming">false</bool>
    <bool name="waitforkeypress">true</bool>
    <bool name="optimize">true</bool>
</cfgxml>