<?xml version="1.0" encoding="utf-8" ?>
<cfgxml>
  <section name="main">
    <pathlist name="inputpath">
      <path relative="true">tests</path>
    </pathlist>
    <bool name="rununittests">false</bool>
    <bool name="outputgrammar">true</bool>
    <bool name="outputprimitives">true</bool>
  </section>
</cfgxml>